ul.facets.sidebar.left
  li
    a(ui-sref='index.products({category: ''})') Alle
  li(ng-repeat="category in filter.categories")
    a(ui-sref='index.products({category: category._id})') {{category._id}}
    ul.facets.facets--sub
      li( ng-repeat="subCategory in category.subCategories", 
          ng-if="category._id === filterSettings.category")
        button {{subCategory}}

ui-view