
.tile
  @extends $tile-style
  margin: $spacing-small
  overflow: hidden
  padding: $spacing-small
  text-align: center

.tile__image
  margin-bottom: $spacing-small

  img
    width: 100%
    display: block
    margin: 0 auto
    vertical-align: middle

.price
  font-weight: bold