*,
*:before,
*:after
  box-sizing: border-box

html
  overflow-y: scroll

body
  background-color: $color-grey-light
  font-family: $font-family-base
  font-size: $font-size-base
  line-height: $line-height-base
  -webkit-font-smoothing: antialiased
  color: $color-font-base

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre,
select,
hr
  margin-bottom: $spacing;
  margin-top: 0;
