.flush
  margin-bottom: 0;

.landmark
  margin-bottom: $spacing*2

.align-right
  text-align: right

.align-center
  text-align: center

.align-left
  text-align: left

.inline
  display: inline-block

.left
  float: left

.right
  float: right

$tile-style
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2)
  background-color: #fff
  border-radius: 3px