
$font-family-base = 'Droid Serif', serif;

$font-size-base = 13px
$line-height-base = 1.5rem

$spacing = 1.5rem
$spacing-small = ($spacing/2)

h1,
.alpha
  font-size: 200%

h2,
.beta
  font-size: 175%

h3,
.gamma
  font-size: 150% 

h4,
.delta
  font-size: 125%

h5,
.epsilon
  font-size: 100%

h6,
.zeta
  font-size: 75%


.x-large
  font-size: 700%;

.heading
  font-weight: 100
  line-height: 1
  padding-top: .25em
  padding-bottom: .25em