
@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,700")

$font-family-base = 'Droid Serif', serif;

$font-size-base = 13px
$line-height-base = 1.5

$spacing = 1.5rem

h1,
.alpha
  font-size: 200%

h2,
.beta
  font-size: 175%

h3,
.gamma
  font-size: 150% 

h4,
.delta
  font-size: 125%

h5,
.epsilon
  font-size: 100%

h6,
.zeta
  font-size: 75%

.tight
  margin-bottom: ($spacing/4)
