doctype html
html
  head
    title Pricer - It's going to be awesome
    link(rel='stylesheet', href='/stylesheets/main.css')

  body(ng-app="ckApp")
    block content
    block scripts
      script(src='javascripts/bundle.js')
    