doctype html
html
  head
    title Pricer - It's going to be awesome
    link(rel='stylesheet', href='/stylesheets/main.css')

  body.landmark(ng-app="pApp")
    h1.x-large.align-center.heading pricer,-
    block content
    block scripts
      script(src='javascripts/bundle.js')
    